.post{
    flex-direction: column;
    justify-content:center;
    display: flex;
    align-items: center;
    
}
.nav-link {

    flex:1;
    justify-content: center;
}

.row{
 width: 300px;
 flex:content;
 flex-direction: column;
}

