.post{
    flex-direction: column;
    justify-content:center;
    display: flex;
    align-items: center;
    
}
/* .nav-link {

    flex:1;
    justify-content: center;
} */

  .container{
  display: flex;
  width: 100px;
  justify-content: center;
  flex-direction: column;
} 

 .row{
  display: flex;
  justify-content: center;
  justify-items: auto;

  width:1100px;
  padding:2px;
  border: 3px;
}  

